@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  /*background: #fff;*/
  overflow: hidden;
}

.backpack {
  background: #fff;
  padding: 30px;
  border: 1px solid #fec604;
  border-radius: 10px;
}
button {
  cursor: pointer;
  font-size: 14px;
  /*width: 100%;*/
  padding: 10px;
  /*outline: none;*/
  background: none;
  position: relative;
  color: #fec604;
  border-radius: 3px;
  margin-bottom: 25px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: #00b0cb;
  transition: all 0.3s ease;
  overflow: hidden;
}

.final {
    width: 400px;
    height: 600px;
}


.rotateimg {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
from{
    transform:rotate(360deg);
}
}
